* {
    box-sizing: border-box;
    font-family: 'Lato', serif;
}

.row {
    display: flex;
    margin: -8px;
}

/* Create two equal columns that sits next to each other */
.columnA {
    flex: 40%;
    padding: 10px;
    height: 600px;
    background: url("../img/jn_sample_whiter.PNG");
    background-repeat: no-repeat;
    background-size: 40%;
    background-attachment: fixed;
}

.columnB {
    flex: 60%;
    padding: 10px;
    height: 610px;
    background-color: #f1f1f1;
}

.columnC {
    flex: 50%;
    padding: 10px;
    height: 500px;
}

.columnD {
    flex: 50%;
    padding: 10px;
    height: 500px;
    background-color: #f1f1f1;
}

body {
  width: auto;
  max-width: 100%;
  height: auto;
  max-height: 100%;
  background-color: #f1f1f1;

}

.columnB h1 {
	text-align: center;
  font-weight: bolder;
  font-size: 58px;
}

.header h1 {
  font-weight: bolder;
  font-size: 68px;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#menu_opener {
  padding: 10px;
  font-size:30px;
  cursor:pointer;
  color: #111;
  position: fixed;
}

@media screen and (max-height: 850px) and (max-width: 735px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
  .columnA {display: none;}
}
